body {
    background: #fff;
    color: #000;
    margin: 0;
    font-family: sans-serif;
}

.container{
    display: flex;
    align-items: flex-start;
    justify-content:center;
    
}

.main{
    width: 1000px;
    margin: 20px 0px 60px 100px;
   
}

.h1{
    font-size: 40px;
    font-weight: bold;
    border-bottom: 3px solid #C8C8C8;
    padding: 20px;
    
}


            /* HEADER */
  
.header {
    background-color: #5BB289;
    padding: 20px;
}
  
.logo {
    width: 250px;
    height: auto;
}

            /*PRODUCTOS*/



.item-img{
    width: 250px;
}

.item{
    border: 1px solid #C8C8C8;
    padding: 15px;
    width: 260px;
    margin: 10px;
    display: inline-block;
}

.item-name{
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
}
.item-price{
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
}

.item-add-btn{
    border-radius: 20px;
    border:none;
    background-color: #F9B42A;
    color: #714000;
    font-size: 25px;
    padding: 10px 20px;
    margin: 0 ;
    min-width: 250px;

}

            /*CARRO*/



.cart{
    width: 350px;
    margin: 20px 0px 60px 40px;
    padding: 0px 60px;
    border-left: 3px solid #C8C8C8;
    
}

        /*Hay productos*/

.cart-container{
    margin-top: 20px;

}

.cart-item{
 align-items: center;
}

.cart-item-description{
    margin: 5px;

}

.cart-item-selection{
    display: flex;
    justify-content: space-between
}

.cart-item-img{
    width: 100px;
}

.cart-item-name{
    font-size: 20px;
    font-weight: bold;
}

.cart-item-price{
    margin: 5px;
    font-weight: bold;
    border-bottom: 2px solid #C8C8C8;
}

.cart-item-quantity{
    font-weight: bold;
    font-size: 25px;
    color: maroon;
    
}

.cart-item-btn{
    border-radius: 50px;
    border:none;
    background-color: #EAABA7;
    color: #951D14;
    width: 30px;
    height: 30px;
    margin: 5px 0;
}

.cart-total{
    padding: 15px;
    background-color: #FBC244;
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
  

        /*No hay productos*/


.no-items{
    padding: 30px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.no-products-text{
    text-align: center;
    color: #A09FA0;
    font-size: 22px;
  
}

            /*FOOTER*/

.footer {
    background-color: #F7F8F6;
}
  
  .footer-container{
    display: flex;
    max-width: 1000px;
    margin: 0 auto; 
    padding: 40px 0;

    }

  .footer-logo{
    width: 200px;
    margin: auto;
    margin-right: 100px;
}

  .footer-links-column {
    margin-right: 100px;
  }
  
  .footer-link {
    color: #A09FA0;
    text-decoration: none;
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 15px;
    display: block; 
  }



  