@charset "UTF-8";
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
     object-fit: cover;
  /* opcional */
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/*FONTS*/
/* Configuramos la tipografía para toda la web */
body {
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  font-size: 100%;
  max-width: 1440px;
  background: #fff;
  color: #000;
  font-family: sans-serif, Arial, Helvetica;
}

/* HEADER */
.header {
  color: black;
  background-color: #5BB289;
  margin: 0;
  padding: 20px;
}
.header__logo {
  width: 250px;
}

.container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: normal;
}

.main {
  width: 70%;
  margin: 20px 0px 60px 20px;
  padding: 0;
}
.main__text {
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  text-align: initial;
  font-style: initial;
  text-transform: none;
  margin: 0;
  padding: 10px;
  border-bottom: 3px solid #C8C8C8;
}

/*PRODUCTOS*/
.item {
  margin: 10px;
  padding: 15px;
  border: 1px solid #C8C8C8;
  width: 150px;
}
.item__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: normal;
  align-items: center;
}
.item__img {
  width: 150px;
}
.item__name {
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  text-align: initial;
  font-style: initial;
  text-transform: none;
  margin: 10px;
  padding: 0;
}
.item__price {
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  text-align: initial;
  font-style: initial;
  text-transform: none;
  margin: 10px;
  padding: 0;
}
.item__add-btn {
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  font-style: initial;
  text-transform: none;
  margin: 0;
  padding: 10px;
  color: #714000;
  background-color: #F9B42A;
  border-radius: 20px;
  border: none;
  width: 100%;
}
.item__add-btn:hover {
  color: black;
  background-color: #f5d86f;
}

/*CARRO*/
.cart {
  width: 30%;
  margin: 20px;
  padding: 10px;
  border-left: 3px solid #C8C8C8;
  /*Hay productos*/
}
.cart__container {
  margin: 20px 0 0 0;
  padding: 0;
}
.cart__text {
  margin: 0;
  padding: 20px;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  text-align: initial;
  font-style: initial;
  text-transform: none;
  border-bottom: 3px solid #C8C8C8;
}
.cart__item {
  display: flex;
  flex-flow: column wrap;
  justify-content: normal;
  align-items: normal;
}
.cart__selection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: normal;
}
.cart__img {
  width: 100px;
}
.cart__name {
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  text-align: initial;
  font-style: initial;
  text-transform: none;
}
.cart__price {
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  text-align: initial;
  font-style: initial;
  text-transform: none;
  margin: 5px;
  padding: 0;
  border-bottom: 2px solid #C8C8C8;
}
.cart__quantity {
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  text-align: initial;
  font-style: initial;
  text-transform: none;
  color: maroon;
  background-color: transparent;
}
.cart__item-btn {
  color: maroon;
  background-color: #EAABA7;
  margin: 10px;
  padding: 0;
  border-radius: 50px;
  border: none;
  width: 30px;
  height: 30px;
}
.cart__item-btn:hover {
  color: black;
  background-color: #f5d86f;
}
.cart__total {
  margin: 0;
  padding: 15px;
  color: #fff;
  background-color: #F9B42A;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  font-style: initial;
  text-transform: none;
}

/*No hay productos*/
.no-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: normal;
  margin: 0;
  padding: 20px;
}
.no-items__text {
  font-size: 1em;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  font-style: initial;
  text-transform: none;
  color: #C8C8C8;
  background-color: transparent;
}

/*FOOTER*/
.footer {
  color: black;
  background-color: #dddddd;
}
.footer__container {
  width: 100%;
  margin: 0;
  padding: 20px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
.footer__logo {
  width: 150px;
  margin: 10px;
  padding: 0;
}
.footer__links-column {
  margin: 20px;
  padding: 0;
}
.footer__link {
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 0.8em;
  font-weight: lighter;
  text-decoration: none;
  text-align: initial;
  font-style: initial;
  text-transform: none;
  color: #A09FA0;
  background-color: transparent;
}/*# sourceMappingURL=main.css.map */