
//Colors//
$color-principal:#F9B42A;
$color-secondary:#714000;
$color-thrid:#5BB289;
$color-fourth:#f5d86f;
$color-five:maroon;
$color-six: #EAABA7;
$color-seven:#C8C8C8;
//Font//
$font-family:sans-serif,Arial, Helvetica ;
