  /*CARRO*/

  .cart{
    width: 30%;
    @include spaceling(20px, 10px);
    border-left: 3px solid #C8C8C8;
    &__container{
        @include spaceling(20px 0 0 0);
    }
    &__text{
        @include spaceling(0, 20px);
        @include text-as(2em, bold);
        border-bottom: 3px solid #C8C8C8;
    }
   /*Hay productos*/

    &__item{
        @include flex($direction:column);
    }
    &__selection{
        @include flex($justify-content: space-between);
    }
    &__img{
        width: 100px;
    }
    &__name{
        @include text-as(1em,bold);
    }
    &__price{
        @include text-as(1em,bold);
        @include spaceling(5px);
        border-bottom: 2px solid #C8C8C8;
    }
    &__quantity{
        @include text-as(1em,bold);
        @include colorized($color-five);
    }
    &__item-btn{
        @include colorized($color-five, $color-six);
        @include spaceling(10px);
        border-radius: 50px;
        border:none;
        width: 30px;
        height: 30px;
        &:hover{
            @include colorized($background-color:$color-fourth);
        }
    }
    &__total{
        @include spaceling(0, 15px);
        @include colorized(#fff, $color-principal);
        @include text-as(1.5em, bold,$text-align: center);
    }
}


        /*No hay productos*/


.no-items{
    @include flex($justify-content: flex-start);
    @include spaceling(0, 20px);
    &__text{
        @include text-as(1em, $text-align:center);
        @include colorized($color-seven);
    }
}
