  /*CARRO*/

  .cart{
    width: 30%;
    margin: 20px 0px 60px 40px;
    padding: 0px 60px;
    border-left: 3px solid #C8C8C8;
    &__container{
        margin-top: 20px;
    }
    &__text{
        font-size: 40px;
        font-weight: bold;
        border-bottom: 3px solid #C8C8C8;
        padding: 20px;

    }
   /*Hay productos*/

    &__item{
        align-items: center;
       }
    &__description{
        margin: 5px;
    }
    &__selection{
        display: flex;
        justify-content: space-between
    }
    &__img{
        width: 100px;
    }
    &__name{
        font-size: 20px;
        font-weight: bold;
    }
    &__price{
        margin: 5px;
        font-weight: bold;
        border-bottom: 2px solid #C8C8C8;
    }
    &__quantity{
        font-weight: bold;
        font-size: 25px;
        color: maroon;
    }
    &__item-btn{
        border-radius: 50px;
        border:none;
        background-color: #EAABA7;
        color: #951D14;
        width: 30px;
        height: 30px;
        margin: 5px 0;
    }
    &__total{
        padding: 15px;
        background-color: #FBC244;
        color: #fff;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
    }
}


        /*No hay productos*/


.no-items{
    padding: 30px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    &__text{
        text-align: center;
        color: #A09FA0;
        font-size: 22px;
      
    }
}
