
.container{
    width: 100%;
    @include flex($wrap:nowrap, $justify-content:center);    
}

.main{
    width: 70%;
    @include spaceling(20px 0px 60px 20px);
    &__text{
        @include text-as(2em, bold);
        @include spaceling(0, 10px);
        border-bottom: 3px solid #C8C8C8;
    }
}