            /*FOOTER*/
.footer {
    background-color: #F7F8F6; 
    &__container{
    display: flex;
    width: 100%;
    margin: 0 auto; 
    padding: 40px 0;
    }
    &__logo{
    width: 200px;
    margin: auto;
    margin-right: 100px;
    }
    &__links-column {
    margin-right: 100px;
    }
    &__link {
    color: #A09FA0;
    text-decoration: none;
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 15px;
    display: block; 
    }
}