            /*PRODUCTOS*/

    
.item{
    @include spaceling(10px, 15px);
    border: 1px solid #C8C8C8;
    width: 150px;
    &__list{
        @include flex($align-items:center);
    }
    &__img{
        width: 150px;
    }
    &__name{
        @include text-as(1em, bold);
        @include spaceling(10px);
    }
    &__price{
        @include text-as(1em, bold);
        @include spaceling(10px);
    }
    &__add-btn{
        @include text-as(1em, bold, $text-align:center);
        @include spaceling(0, 10px);
        @include colorized($color-secondary, $color-principal);
        border-radius: 20px;
        border:none;
        width: 100%;
        &:hover{
            @include colorized(black, $color-fourth);
        }
    }
}